#
# files to ignore by git
#

# .files, emacs backup files, .o, .a, .tar, .gz, .mod
.*
*~
.[oa]
.tar
.gz
.mod
.aux
.fdb_latexmk
.fls
.log
.out
.pdf

# ignore everything in build directories
build/
cmake-build-debug/

# ignore everything in output directories
output/

# include .gitignore
!.gitignore

# to keep empty directories use local .gitignore in directory
# local .gitignore contains two lines, one with "*" and another with "!.gitignore"